<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Document</title>

</head>

<body>
    <div class="main">
        <div class="menu">
            <a href="(55)77981044018">Entre em Contato com o Criador do Site</a>
            <a href="http://127.0.0.1:5500/index.html ">Home</a>
            <a href="https://www.educamaisbrasil.com.br/programas-do-governo/enem">Sobre</a>
            <a href="https://vocepergunta.com/contacts">Contatos</a>
        </div>
        <div class="secton-1">
            <h1>
                Portal educação
                <br>Educando Sempre
            </h1>
            <div class="conteudo">
                <span>Educação é uma prática social que visa ao desenvolvimento do ser humano, de suas potencialidades,
                    habilidades e
                    competências. A educação, portanto, não se restringe à escola. A educação é um direito de todos e
                    visa ao pleno
                    desenvolvimento humano por meio do processo de ensino-aprendizagem.</span>
            </div>
            <div class="btns">
                <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                <a id="btn1"
                    href="https://cursinho.descomplica.com.br/vestibulares/enem/inscricao-enem?utm_source=ads_google&utm_medium=search&utm_campaign=psq-nonbrand-vest-encher-inscricoes-enem-2022&device=c&network=g&utm_content=inscri%C3%A7%C3%B5es%20enem%202022&matchtype=e&utm_term=snb-inscricao-e&gclid=EAIaIQobChMI-OSV_uLZ9wIVDUWRCh3uuQwqEAAYASAAEgKH2fD_BwE">INSCRIÇÃO
                    PARA O ENEM!</a>
                <a id="btn2"
                    href="https://inscricoes.unip.br/inscricao?utm_source=google&utm_medium=cpc&utm_content=search&utm_campaign=unidades&gclid=EAIaIQobChMIm62Us-PZ9wIVQcORCh2bdQssEAAYASAAEgIDMvD_BwE&gclsrc=aw.ds">COMO
                    FAZER A INSCRIÇÃO </a>
            </div>
            <div class="cards">
                <a href="#"><img src="img/img01.jpg" alt="" height="150px"></a>
                <a href="#"><img src="img/img02.jpg" alt="" height="150px"></a>
                <a href="#"><img src="img/img03.webp" alt="" height="150px"></a>
                <a href="#"><img src="img/img04.png" alt="" height="150px"></a>
            </div>
        </div>
    </div>
</body>

</html>